@model ViewAccountModel;
@{
    var accountModel = new AccountModel();
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @Html.Partial("SetData",accountModel)
    <partial name="ShowData" model="@Model"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>