@model AccountModel

<div class="setData text-center" xmlns="http://www.w3.org/1999/html">
    <form asp-controller="Account" asp-action="Save" method="post">
        項目
        @Html.TextBoxFor(x => x.Remark)
        <br/>

        金額
        <input asp-for="Amount" data-val="true" />
        <span asp-validation-for="Remark"></span>
        <br/>

        日期
        <input asp-for="CreateTime" value=""/>
        <br/>

        <button>submit</button>
        <div asp-validation-summary="All" style="border-width:5px; padding-top: 2px;"></div>
    </form>
</div>