@model List<AccountModel>;

<style>
    table, th, td{
       border: 1px solid black;    
       margin: auto; 
    }
    .dataList {
        padding-top: 10px;
    }
</style>
<div class="dataList">
    <table>
        <tr>
            <th>Remark</th>
            <th>Amount</th>
            <th>DateTime</th>
        </tr>
        
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.Remark</td>
                <td>@data.Amount</td>
                <td>@data.CreateTime</td>
            </tr>
        }

    </table>
</div>